@font-face {

    font-family: "Comfortaa-Bold";
    src: url(../polices/comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: "Comfortaa-Light";
    src: url(../polices/comfortaa/Comfortaa-Light.ttf);
}

body,html{
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    margin: 0;
    padding: 0;  
}

#root{
    width: 100%;
    height: auto;
}

@media screen and (max-height: 100%) {
    #root{
        height: 100%;
    }
}

#mainPage {
    background-image: url("https://media.spacie.fr/default/pages/star.png");
    background-size: cover;
    color : #b0c9da;
	background-color : black;
    background-repeat: repeat;
    background-attachment: fixed;
    font-family:"Comfortaa-Bold";
    width: 100%;
    height: 100%;
}



#mainPage header{
    background-color: rgb(48, 52, 65,0.6);
    border-radius: 10px;
    border-color: rgb(17, 27, 87);
    display: flex;
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    height: 10%;
    position: sticky;
    top:0;
    z-index: 2;
    
}

img{
    border-radius: 30%;
    /* width: 50%; */
}

/* header > *{
    background-color: red;
} */

#mainPage input{
    height: 30px;
    font-family: "Comfortaa-Light";  
    border-radius:3px 3px 3px 3px;

}

#mainPage input[type="submit"],input[type="button"]{
    color: #293136;
    background-color: #b0c9da;
    font-family: "Comfortaa-Bold";  
    border-radius: 3px 3px 3px 3px;
    border-style: inset;    
    font-size: 16px;
}

input:hover{
    border-style: inset;
    border-color: rgb(175, 111, 111);
}

input[type="submit"]:hover,input[type="button"]:hover{
    color: #b0c9da ;
    background-color: #1e262b;
    font-size: 16px;
    text-decoration: underline;
    font-family: "Comfortaa-Bold";
}

#logo{
    width: 30%;
    display: flex;
}

#logo #header_main{
    display: flex;
    align-items: center;
    width: 100%;
}

#logo #header_main img{
    width: 85%;
    height: 80%; 
    margin-top: 0%;
    margin-bottom: 4%;
}

#logo #header_main p{
    font-size: 40px;
    margin-top: 25%;
    width: 10%;
    margin-left: 0px;
}


#onglet{
    width: 50%;
    display: flex;
    align-items: flex-end;
    font-size:150%;
    justify-content: space-around;

}

#onglet img{
    fill : #b0c9da;
    width: 60%;
}

#onglet span{
    display: flex;
    margin-bottom: 5%;
    width: 12%;
    justify-content: center;
    padding-bottom: 1%;
    border-bottom: 5px solid #b0c9da;
}



#onglet span:hover{
    animation: hover 0.5s both;
    fill: #fdbeab
}

@keyframes hover {
    to {
        border-bottom: 5px solid #fdbeab;
        width: 14%
    }
}


#lien_profil{
    display: flex;
    flex-direction: row-reverse;
    /* margin-left: 5%; */
    justify-content: center;
    align-items: center;
    width: 20%;
}
#lien_profil img {
    border-radius: 40%;
    width: 55px;
    height: 55px;
    padding: 10%;
    border-style: groove;
    border-color: #b0c9da;
}
#lien_profil img:hover{
    border-style: groove;
    border-color: rgb(175, 111, 111);
}

#new_message textarea{
    width: 96%;
    height: 60px;
    margin-bottom: 2%;
    font-size: 16px;
    padding: 1%;
    max-width: 96%;
}

#new_message{
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 52, 65,0.6);
    border-radius: 10px;
    margin-bottom: 3%; 
    width:100%;
}

#button_new_message{
    display:flex;
    width: 50%;
    justify-content: space-evenly;
}

#button_new_message input{
    width: 30%;
}

section{
    width: 100%;
    justify-content: center;
}

.message{
    background-color: rgb(48, 52, 65,0.4);
    border-radius: 10px;
    margin-bottom: 3%;
    width:100%
}

#corps{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

nav{
    margin: auto 0cm; 
    width: 20%;
    position: sticky;
    left:0
}



#messages article,#new_message{
    padding : 3%;
    width :94%;
}


.millieu{    
    width: 58%
}
aside{
    width: 20%;
    position: sticky;
    z-index: 0;
}
.message_user_info{
    display: flex;
    position: relative;
}

.message_date{
    position: absolute;
    right: 2px;
}

.millieu p{
    margin-left: 0.2cm;
}

a{
    color: #b0c9da
}

#info_user{
    display: flex;
    background-color: rgb(48, 52, 65,0.6);
    border-radius: 10px;
    margin-bottom: 3%; 
    justify-content:space-evenly;
    align-items:center;
}

#photo_de_profil{
    width: 10%;
    border-radius: 10px;
}

#info_ligne{
    display: flex;  
    justify-content:space-evenly
}
#info_profil{
    width: 70%;
    background-color: rgb(48, 52, 65,0.6);
    padding: 2%;
    margin:2%;
    border-radius: 10px;
}

#creationProfil{
    width:30%;
}

#emailProfil{
    
    width: 30%;
}


#loginProfil{
    width: 15%;
}

#nickNameProfil{
    width:25%
}

#info_ligne *{
    background-color: rgb(48, 52, 65,0.6);
    border-radius: 10px;
    padding: 2%;
    margin:1%
}

#info_ligne div h3{
    text-decoration: underline;
}

#info_user span img{
    border-style: groove;
    border-color: #b0c9da;
}

.info{
    width: 25%;
}

#button_profil form{
    display: flex;
    width: 60%;
}
#button_profil form input{
    margin-left: 2%; 
    width: 60%;
}
#button_profil{
    width: 100%;
    margin-top: 5%
}

.userName{
    display:flex;
    width: 80%;
    align-items: center;
}

@media screen and (max-width: 500px)  {
    .name{
        display: none;
    }
}

.userName span{
    align-items: center;
}

.name{
    padding-left:1%
}

.userName span:hover{
    animation: hove 2s both;
    
}

@keyframes hove {
    to {
        color: #fdbeab;
        text-decoration: underline;
        fill: #fdbeab
    }
}

@media  screen and (max-width:950px ){
    nav{
        display: none;
        width:0%;
    }
    aside{
        width: 29%;
    }
    .millieu{
        width: 69%;
    }
    #logo #header_main p{
        font-size: 30px;
    }

    #lien_profil img {
        width: 40px;
        height: 40px;
    }
    #onglet img {
        width: 100%;
    }

    #creationProfil{
        display: none;
        width:0%;
    }
    #emailProfil{
        display: none;
        width: 0%;
    }


    #loginProfil{
        width: 50%;
    }

    #info_ligne{
        justify-content: space-evenly;
    }

}

#profil{
    width:100%;
}

.message_textuel{
    /* background-color:red; */
    padding-top: 2%;
    padding-bottom: 2%;
    width:100%;
    
}
.message_buttons{
    display: flex;
    width: 360px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.message_button{
    border-style: solid;
    border-color:#b0c9da ;
    padding: 6px;
    border-radius: 40px;
    text-align: center;
}

.message_button:hover{
    animation : hoverButton 1s both
}


.reaction_message{
    display:flex;
    flex-direction: column;
}

@keyframes hoverButton {
    to {
        border-color:#fdbeab
    }
}

.reaction_message span{
    margin-top: 6px
}

.commentaires{
    margin-top: 2%;
    border-color: rgb(48, 52, 65,0.6);
    border-style: dashed;
    border-radius: 10px;
    padding: 2%
    
}

#recherche{
    height: auto;
}


#barre_recherche{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(48, 52, 65,0.6);
    padding: 2%;
    border-radius: 10px;
    align-items: center;
}

#barre_recherche textarea{
    max-width: 70%;
    min-width: 70%;
    max-height: 40px;
    min-height: 40px;
    font-size: 16px;
    padding: 1%;
}

.button_recherche{
    text-align: center;
    border: groove #b0c9da;
    padding: 2%;
    border-radius: 30px;
    font-size: 16px;
}

.button_recherche:hover{
    animation : hoverButton 1s both
}

#resultat_recherche{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(48, 52, 65,0.6);
    padding: 2%;
    border-radius: 10px;
    align-items: center;
}

.profil_info{
    background-color: rgb(48, 52, 65,0.6);
    padding: 2%;
    margin-top: 3%;
    width: 100%;
    border-radius: 10px;
    align-items: center;
}

/* ---- stats.js ---- */
/* 
.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }
  

/* ---- particles.js container ---- */
/*
#particles-js{
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  } */