@font-face {
    font-family: "Comfortaa-Bold";
    src: url(../polices/comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: "Comfortaa-Light";
    src: url(../polices/comfortaa/Comfortaa-Light.ttf);
}
header{
    display: flex;
}

#header{
    margin: 0cm auto;
    margin-top: 2cm;
    width: 500px;
    display: flex;
    text-align: center;
}

#discord_login{
    margin-top: 1em;

}

#title {
    font-size: 50px;
    color: #b0c9da;
}

body{
    background-image: url("https://media.spacie.fr/default/pages/back.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:"Comfortaa-Bold" ;
}

input{
    height: 30px;
    font-family: "Comfortaa-Light";  
    border-radius: 0px 0px 0px 10px;
    width: 80%;
    height: 37px;
}

input[type="text"],input[type="password"]{
    text-align: center;
    border-color: #1e262b;
}

input[type="email"],input[type="password"]{
    text-align: center;
    border-color: #1e262b;
}

#block_con h2{
    color: #b0c9da;
    text-align: left;
    margin-left: 1.5cm;
    font-size: 40px;
}


#block_con {
    margin: 0cm auto;
    text-align: center;
    width: 500px;
    border-style: groove;
    border-radius: 30px;
    border-color: beige;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1e262b;
}

.date_naissence{
    display: flex;
    flex-direction: row; 
    width: 85%;
    margin-top: 0.1cm;
    margin-left: auto;
    margin-right: auto;
}

.name_surname input[type="text"]{
    margin-top: 5%;
}
.date{
    margin-right: 0.1cm;
}

form{
    border-style: groove;
    border-radius: 30px;
    border-color: beige;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1e262b;
    
}

.text{
    margin: 0.2cm 0.07cm 0cm 0.05cm;
}

.button{
    padding: 0.3cm 0.07cm 0.4cm 0.07cm;
}

a {
    color:#b0c9da;
}

#lien{
    margin: 2%;
    font-family: "Comfortaa-Light";
    font-size: 17px;

}

.name input{
    width: 33%;
}

.button input{  
    color: #293136;
    background-color: #b0c9da;
    font-family: "Comfortaa-Bold";  
    border-radius: 3px 3px 3px 3px;
    border-style: groove;    
    font-size: 16px;
}

input[type="submit"]:hover,input[type="button"]:hover{
    color: #b0c9da ;
    background-color: #1e262b;
    font-size: 14px;
    text-decoration: underline;
}

footer p{
    color: #b0c9da;
    text-align: center;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0px;

}

